HW31/src/main/resources/OrderService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://homeworks.my.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://homeworks.my.org/" name="OrderServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://homeworks.my.org/" schemaLocation="http://localhost:8080/OrderService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllOrders"/>
<message name="getAllOrdersResponse">
<part name="return" type="tns:arrayList"/>
</message>
<message name="getOrderById">
<part name="arg0" type="xsd:int"/>
</message>
<message name="getOrderByIdResponse">
<part name="return" type="tns:order"/>
</message>
<message name="addOrder">
<part name="arg0" type="tns:order"/>
</message>
<message name="addOrderResponse"/>
<portType name="OrderService">
<operation name="getAllOrders">
<input wsam:Action="http://homeworks.my.org/OrderService/getAllOrdersRequest" message="tns:getAllOrders"/>
<output wsam:Action="http://homeworks.my.org/OrderService/getAllOrdersResponse" message="tns:getAllOrdersResponse"/>
</operation>
<operation name="getOrderById">
<input wsam:Action="http://homeworks.my.org/OrderService/getOrderByIdRequest" message="tns:getOrderById"/>
<output wsam:Action="http://homeworks.my.org/OrderService/getOrderByIdResponse" message="tns:getOrderByIdResponse"/>
</operation>
<operation name="addOrder">
<input wsam:Action="http://homeworks.my.org/OrderService/addOrderRequest" message="tns:addOrder"/>
<output wsam:Action="http://homeworks.my.org/OrderService/addOrderResponse" message="tns:addOrderResponse"/>
</operation>
</portType>
<binding name="OrderServiceImplPortBinding" type="tns:OrderService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getAllOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://homeworks.my.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://homeworks.my.org/"/>
</output>
</operation>
<operation name="getOrderById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://homeworks.my.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://homeworks.my.org/"/>
</output>
</operation>
<operation name="addOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://homeworks.my.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://homeworks.my.org/"/>
</output>
</operation>
</binding>
<service name="OrderServiceImplService">
<port name="OrderServiceImplPort" binding="tns:OrderServiceImplPortBinding">
<soap:address location="http://localhost:8080/OrderService"/>
</port>
</service>
</definitions>